// Home all
.home__wrapper {
  padding: 40px 0;
  @include media(">=desktop") {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  > section {
    margin-bottom: 80px;
    @include media(">=desktop") {
      margin-bottom: 120px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Section
@import "section/looking";
@import "section/featured";
@import "section/top-week";
@import "section/popular-articles";
@import "section/latest-post";
@import "section/beginner-guides";

// Component
@import "./component/section-header";



