.back__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #002456;
  border: 2px solid rgba(255, 255, 255, 0.48);
  border-radius: 64px;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: background .5s ease;

  @include media(">=desktop") {
    width: 48px;
    height: 48px;
    left: auto;
    border: 2px solid #FFFFFF;
    border-radius: 64px;
    right: 40px;
    transform: translate(0, -50%);
    &:hover {
      background: #00A3FF;

      path {
        stroke: #FFFFFF;
      }
    }
  }

  path {
    transition: stroke .5s ease;
  }
}
