// Button

.btn {
  position: relative;
  border-radius: 128px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 18.5px 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  transition: box-shadow .5s ease;
  overflow: hidden;

  &:hover {
    &:before {
      width: 100%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    z-index: 0;
    left: 0;
    transition: width .4s ease;
    background: #FFF;
    opacity: .2;
  }

  &__section {
    &-mob {
      display: flex;
      margin: 32px auto 0;
      max-width: 272px;
      @include media(">=tablet") {
        width: max-content;
      }
      @include media(">=desktop") {
        display: none;
      }
    }
  }

  &-icon-left {
    svg, img {
      margin-right: 16px;
    }
  }

  &-icon {
    padding-top: 11.5px;
    padding-bottom: 11.5px;

    svg {
      margin-left: 8px;
    }
  }

  &-small {
    padding: 14.5px 24px;
  }

  &-green {
    color: white;
    background: #02C076;

    &:hover {
      box-shadow: 0 33px 31px rgba(2, 192, 118, 0.1),
      0 16.7062px 13.5141px rgba(2, 192, 118, 0.0675),
      0 6.6px 5.0375px rgba(2, 192, 118, 0.05),
      0 1.44375px 1.79219px rgba(2, 192, 118, 0.0325);
    }
  }

  &-orange {
    color: white;
    background: #FF4F00;

    &:hover {
      box-shadow: 0 33px 31px rgba(255, 79, 0, 0.1),
      0 16.7062px 13.5141px rgba(255, 79, 0, 0.0675),
      0 6.6px 5.0375px rgba(255, 79, 0, 0.05),
      0 1.44375px 1.79219px rgba(255, 79, 0, 0.0325);
    }
  }

  &-big {
    padding: 18.5px 48px
  }

  &-orange-outline {
    background: transparent;
    border: 2px solid #FF4F00;
    color: #FF4F00;
    overflow: hidden;
    transition: color .5s ease;

    &:hover {
      color: #FFF;

      path {
        stroke: #FFF;
      }
    }

    &:before {
      background: #FF4F00;
      opacity: 1;
      z-index: -1;
    }

    path {
      transition: stroke .5s ease;
    }
  }

}
