.category {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  width: max-content;

  &-color {
    color: #02C076;
    font-weight: bold;
  }

  &-bg {
    color: #02C076;
    background: #FFFFFF;
    transition: color .5s, background .5s ease;
    border-radius: 4px;
    padding: 6.5px 8px;

    &:hover {
      color: #FFF;
      background: #02C076;

      svg {
        path {
          stroke: #FFF;
        }
      }
    }

    svg {
      path {
        transition: stroke .5s ease;
      }
    }
  }
}
