.icon {
  cursor: pointer;

  &-list {
    display: flex;

    li {
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__btn {
    background: rgba(0, 36, 86, 0.04);
    border-radius: 40px;
    &.active{
      border-radius: 100%;
      background: #FF4F00;
      box-shadow: 0 33px 31px rgba(255, 79, 0, 0.1), 0 16.7062px 13.5141px rgba(255, 79, 0, 0.0675),
      0 6.6px 5.0375px rgba(255, 79, 0, 0.05), 0 1.44375px 1.79219px rgba(255, 79, 0, 0.0325);

      path {
        stroke: #FFFFFF;
      }
    }
  }

  &__search {
    cursor: pointer;
    @include media(">=desktop") {
      background: rgba(0, 36, 86, 0.04);
      border-radius: 40px;
      box-shadow: transparent;
      transition: background .5s, box-shadow .5s ease;
      &:hover {
        background: #FF4F00;
        box-shadow: 0 33px 31px rgba(255, 79, 0, 0.1), 0 16.7062px 13.5141px rgba(255, 79, 0, 0.0675),
        0 6.6px 5.0375px rgba(255, 79, 0, 0.05), 0 1.44375px 1.79219px rgba(255, 79, 0, 0.0325);

        path {
          stroke: #FFFFFF;
        }
      }

      svg {
        path {
          transition: stroke .5s ease;
        }
      }
    }

    &.active {
      border-radius: 100%;
      background: #FF4F00;
      box-shadow: 0 33px 31px rgba(255, 79, 0, 0.1), 0 16.7062px 13.5141px rgba(255, 79, 0, 0.0675),
      0 6.6px 5.0375px rgba(255, 79, 0, 0.05), 0 1.44375px 1.79219px rgba(255, 79, 0, 0.0325);

      path {
        stroke: #FFFFFF;
      }
    }
  }

  &__section {
    width: 56px;
    height: 56px;
    cursor: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 163, 255, 0.16);
    border-radius: 56px;
  }

  &__social {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 64px;
  }

  &-wrapper {
    display: flex;
  }

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}
