.label {
  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      cursor: pointer;
      position: relative;

      &:hover {
        .price-dropdown {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &__text {
    margin-right: 8px;
  }

  &__changes {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;


    &-small {
      > svg {
        margin-right: 4px;
      }
    }

    &-box {
      padding: 7.5px 8px;
      border-radius: 32px;
    }

    &-small-bg {
      padding: 4px 8px;
      border-radius: 64px;
    }

    &-rise {
      &-bg {
        background: rgba(2, 192, 118, 0.08);
      }

      > span {
        color: $rise-color;
      }
    }

    &-downgrade {
      &-bg {
        background: rgba(248, 73, 96, 0.08);
      }

      > svg {
        transform: rotate(180deg);

        path {
          fill: $downgrade-color;
        }
      }

      > span {
        color: $downgrade-color;
      }
    }

    > svg {
      margin-right: 8px;
    }

    > span {
      font-size: inherit;
      line-height: inherit;
    }
  }
}
