.list-item {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
  transition: transform .5s, background .5s, filter .5s ease;

  @include media(">=tablet") {
    margin-bottom: 0;
    &:hover {
      .list-item {
        &__img {
          &:before {
            background: linear-gradient(180deg, rgba(0, 36, 86, 0) 0%, #002456 100%);
            filter: drop-shadow(0px 100px 80px rgba(0, 36, 86, 0.04)) drop-shadow(0px 50.625px 34.875px rgba(0, 36, 86, 0.027)) drop-shadow(0px 20px 13px rgba(0, 36, 86, 0.02)) drop-shadow(0px 4.375px 4.625px rgba(0, 36, 86, 0.013));
          }
        }

        &__button {
          margin-bottom: 0;
          pointer-events: all;
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    .list-item {
      &__img {
        img {
          transform: scale(1.2) translateY(-5%);
        }
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__img {
    position: relative;
    height: 100%;
    z-index: 0;

    picture {
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
      transition: transform .5s;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: background .5s, filter .5s ease;
      background: linear-gradient(180deg, rgba(0, 36, 86, 0) 0%, #002456 100%);
    }
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: max-content;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    @include media(">=desktop") {
      padding: 32px;
    }
  }

  &__button {
    margin-bottom: -80px;
    margin-top: 24px;
    opacity: 0;
    pointer-events: none;
    width: max-content;
    transition: margin-bottom .5s, opacity .5s ease;
  }

  &__description {
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.72);
    max-height: 0;
    transition: max-height .5s, opacity .5s ease;
    opacity: 0;
    pointer-events: none;
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: white;
  }

  &__title {
    font-size: 20px;
    line-height: 150%;
    color: white;
    transition: margin-bottom .5s linear;
  }

  &-hover {
    @include media(">=desktop") {
      &:hover {
        .list-item {
          &__title {
            margin-bottom: 16px;
          }

          &__description {
            max-height: var(--max-height);
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}
