.menu-dropdown {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 30px;
  width: max-content;
  transition: opacity .5s ease;

  &__icon {
    max-width: 40px;
    margin-right: 4px;
  }

  &__link {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #002456;
    margin-bottom: 4px;

    span {
      font-weight: normal;
      margin-left: 4px;
    }
  }

  ul {
    display: block;
    column-gap: 32px;
    column-count: 3;
    margin-bottom: 8px;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      break-inside: avoid;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  a {
    width: max-content;
  }
}

