.price-dropdown {
  position: absolute;
  padding: 24px;
  left: 0 ;
  top: 40px;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  width: max-content;
  transition: opacity .5s ease;

  &:before {
    position: absolute;
    top: -40px;
    height: 40px;
    left: 0;
    content: "";
    width: 50%;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  &__text {
    span {
      color: $color-text;
    }
  }

  ul {
    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 16px;

      span {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
