.search {
  position: fixed;
  top: 72px;
  padding: 24px 0;
  background: $bg;
  color: white;
  width: 100%;
  opacity: 0;
  left: 0;
  pointer-events: none;
  transition: opacity .5s ease;
  @include media(">=desktop") {
    padding: 64px 0;
    top: 88px;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__text {
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.5;
    margin-bottom: 16px;
  }

  &__icon {
    margin-right: 16px;
    @include media(">=desktop") {
      margin-right: 49px;
    }
  }

  &__column {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid white;


    input {
      background: transparent;
      color: white;
      height: 24px;
      margin-right: 16px;

      @include media(">=desktop") {
        height: auto;
        margin-right: 0;
      }

      &::placeholder {
        color: white;
      }
    }
  }
  a {
    color: white;
  }
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
  @include media(">=desktop") {
    margin: -20px;
  }

  li {
    margin: 12px;
    max-width: 262px;
    @include media(">=desktop") {
      margin: 20px;
    }

    a {
      font-size: 16px;
      line-height: 150%;
      transition: opacity .5s ease;

      &:hover {
        opacity: .5;
      }
    }
  }
}

.request-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;

  li {
    margin: 4px;

    a {
      display: flex;
      padding: 4px 8px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      font-family: Segoe UI, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      transition: border, background .5s ease;

      &:hover {
        background: #02C076;
        border: 1px solid rgba(255, 255, 255, 0.25);
      }
    }
  }
}
