.section-header {
  @include media(">=desktop") {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: none;
    @include media(">=desktop") {
      display: flex;
      margin-right: 16px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 8px;
    @include media(">=desktop") {
      text-align: left;
    }
  }

  &__btn {
    &-right {
      display: none;
      @include media(">=desktop"){
        margin-left: auto;
        display: flex;
      }
    }
  }

  &__description {
    text-align: center;
    @include media(">=desktop") {
      text-align: left;
    }
  }
}
