<footer id="footer" class="footer footer-bg">
  <a class="back__top" title="up">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 12.6666V3.33325" stroke="#00A3FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M3.33325 7.99992L7.99992 3.33325L12.6666 7.99992" stroke="#00A3FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
  <div class="container">
    <div class="flex-wrapper footer__grid">
      <div class="footer__info footer__item">
        <a href="" class="logo footer__logo">
          Cryptona
          <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.70096 1.25C4.27831 0.25 5.72169 0.25 6.29904 1.25L8.89711 5.75C9.47446 6.75 8.75278 8 7.59808 8H2.40192C1.24722 8 0.525536 6.75 1.10289 5.75L3.70096 1.25Z"
              fill="#02C076"/>
          </svg>
        </a>
        <div class="footer__description footer__description-big">
          <p>Whether you're a newcomer to crypto or a veteran trader, Cryptona is all you need to stay updated,
            educated, and informed on the crypto sphere.</p>
        </div>
      </div>
      <nav class="footer__content-link footer__item">
        <div class="footer__link">
          <h5 class="footer__title text-opacity-5">Categories</h5>
          <ul>
            <li><a href="#">Cryptocurrencies</a></li>
            <li><a href="#">Beginner Guides</a></li>
            <li><a href="#">Price Predictions</a></li>
            <li><a href="#">Broker Reviews</a></li>
            <li><a href="#">Buy Crypto</a></li>
          </ul>
        </div>
        <div class="footer__link">
          <h5 class="footer__title text-opacity-5">Company</h5>
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </nav>
      <div class="footer__relation footer__item">
        <div class="follow-us">
          <h5 class="footer__title text-opacity-5">Follow us:</h5>
          <ul class="icon icon-wrapper footer__social">
            <li class="icon__social">
              <a href="#" target="_blank">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 1.33325H10C9.11597 1.33325 8.26812 1.68444 7.643 2.30956C7.01788 2.93468 6.66669 3.78253 6.66669 4.66659V6.66659H4.66669V9.33325H6.66669V14.6666H9.33335V9.33325H11.3334L12 6.66659H9.33335V4.66659C9.33335 4.48977 9.40359 4.32021 9.52862 4.19518C9.65364 4.07016 9.82321 3.99992 10 3.99992H12V1.33325Z"
                    fill="#00A3FF"/>
                </svg>

              </a>
            </li>
            <li class="icon__social">
              <a href="#" target="_blank">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.3334 1.99987C14.6949 2.45019 13.9881 2.79461 13.24 3.01987C12.8385 2.55821 12.3049 2.231 11.7114 2.08249C11.1178 1.93397 10.493 1.97133 9.92141 2.1895C9.3498 2.40768 8.85898 2.79614 8.51534 3.30235C8.1717 3.80856 7.99182 4.40809 8.00002 5.01987V5.68653C6.82844 5.71691 5.66754 5.45708 4.62069 4.93017C3.57385 4.40325 2.67356 3.62562 2.00002 2.66653C2.00002 2.66653 -0.666646 8.66653 5.33335 11.3332C3.96037 12.2652 2.32479 12.7325 0.666687 12.6665C6.66669 15.9999 14 12.6665 14 4.99987C13.9994 4.81417 13.9816 4.62893 13.9467 4.44653C14.6271 3.77553 15.1072 2.92834 15.3334 1.99987Z"
                    fill="#00A3FF"/>
                </svg>


              </a>
            </li>
            <li class="icon__social">
              <a href="#" target="_blank">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M14.5591 3.43969C14.7862 3.6738 14.9474 3.96369 15.0266 4.28008C15.2381 5.45255 15.3408 6.64205 15.3333 7.83341C15.3375 9.00697 15.2349 10.1785 15.0266 11.3334C14.9474 11.6498 14.7862 11.9397 14.5591 12.1738C14.332 12.4079 14.0471 12.578 13.7333 12.6667C12.5866 12.9734 7.99997 12.9734 7.99997 12.9734C7.99997 12.9734 3.41331 12.9734 2.26664 12.6667C1.95919 12.5826 1.67863 12.4206 1.45207 12.1964C1.22551 11.9722 1.06061 11.6933 0.973308 11.3867C0.761819 10.2143 0.65916 9.02478 0.666641 7.83341C0.660798 6.65095 0.763451 5.47045 0.973308 4.30675C1.0525 3.99035 1.21378 3.70046 1.44087 3.46635C1.66796 3.23224 1.95281 3.0622 2.26664 2.97341C3.41331 2.66675 7.99997 2.66675 7.99997 2.66675C7.99997 2.66675 12.5866 2.66675 13.7333 2.94675C14.0471 3.03554 14.332 3.20558 14.5591 3.43969ZM10.3333 7.83332L6.49997 10.0133V5.65332L10.3333 7.83332Z"
                        fill="#00A3FF"/>
                </svg>
              </a>
            </li>
            <li class="icon__social">
              <a href="#" target="_blank">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4.66671 1.33325H11.3334C13.1743 1.33325 14.6667 2.82564 14.6667 4.66659V11.3333C14.6667 13.1742 13.1743 14.6666 11.3334 14.6666H4.66671C2.82576 14.6666 1.33337 13.1742 1.33337 11.3333V4.66659C1.33337 2.82564 2.82576 1.33325 4.66671 1.33325ZM10.3959 9.1993C10.6542 8.70143 10.749 8.13479 10.6667 7.57996C10.5828 7.01401 10.3191 6.49006 9.9145 6.08549C9.50994 5.68093 8.98599 5.41721 8.42004 5.33329C7.86521 5.25102 7.29856 5.34579 6.8007 5.60412C6.30283 5.86245 5.8991 6.27119 5.64692 6.77221C5.39475 7.27322 5.30697 7.84099 5.39608 8.39477C5.48519 8.94854 5.74665 9.46012 6.14326 9.85673C6.53988 10.2533 7.05146 10.5148 7.60523 10.6039C8.159 10.693 8.72678 10.6052 9.22779 10.3531C9.7288 10.1009 10.1375 9.69717 10.3959 9.1993Z"
                        fill="#00A3FF"/>
                  <path d="M11.6667 4.33325H11.6734" stroke="#294771" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__contact">
          <h5 class="footer__title text-opacity-5">Contact us:</h5>
          <a href="mailto:contact@cryptona.co">contact@cryptona.co</a>
        </div>
      </div>
      <div class="risk-footer risk-footer-bg footer__item">
        <h5 class="risk-footer__title">Risk Warning</h5>
        <div class="footer__description">
          <p>
            The content on Cryptona.co is for informational purposes only, you should not construe any such information
            or
            other material as legal, tax, investment, financial, or other advice.
            The trading products offered by the companies listed on this website carry a high level of risk and can
            result
            in the loss of all your funds.
          </p>
        </div>
      </div>
      <div class="footer__copyright footer__item">
        <p>Copyright © 2021 Cryptona.co</p>
        <ul>
          <li><a href="#">
            Privacy Policy
          </a></li>
          <li><a href="#">
            Terms of Use
          </a></li>
          <li>
            <a href="#">
              Risk Disclaimer
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
