<header id="header" class="header">
  <div class="container">
    <div class="flex-wrapper header__wrapper">
      <div class="icon icon__btn icon-box header__btn" data-target="popup__nav">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.66667 2H2V6.66667H6.66667V2Z" stroke="#002456" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M14 2H9.33337V6.66667H14V2Z" stroke="#002456" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M14 9.33325H9.33337V13.9999H14V9.33325Z" stroke="#002456" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M6.66667 9.33325H2V13.9999H6.66667V9.33325Z" stroke="#002456" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <a href="" class="logo header__logo">
        Cryptona
        <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.70096 1.25C4.27831 0.25 5.72169 0.25 6.29904 1.25L8.89711 5.75C9.47446 6.75 8.75278 8 7.59808 8H2.40192C1.24722 8 0.525536 6.75 1.10289 5.75L3.70096 1.25Z"
            fill="#02C076"/>
        </svg>
      </a>
      <nav class="nav header__nav popup__nav popup">
        <ul>
          <li class="nav-dropdown">
            <div class="nav__category">
              <a href="#">Cryptocurrencies</a>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.64">
                  <path d="M2 3L4 5L6 3" stroke="#002456" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </g>
              </svg>
            </div>
            <div class="menu-dropdown dropdown-box">
              <ul>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Bitcoin <span class="text-opacity-5">BTC</span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>3.51%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Ethereum <span class="text-opacity-5">ETH </span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>3.51%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Binance Coin <span class="text-opacity-5">BNB</span></a>
                    <div class="label__changes label__changes-downgrade">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>0.34%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Cardano<span class="text-opacity-5">ADA</span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>2.03%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Bitcoin <span class="text-opacity-5">BTC</span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>3.51%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Ethereum <span class="text-opacity-5">ETH </span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>3.51%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Binance Coin <span class="text-opacity-5">BNB</span></a>
                    <div class="label__changes label__changes-downgrade">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>0.34%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Cardano<span class="text-opacity-5">ADA</span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>2.03%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Bitcoin <span class="text-opacity-5">BTC</span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>3.51%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Ethereum <span class="text-opacity-5">ETH </span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>3.51%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Binance Coin <span class="text-opacity-5">BNB</span></a>
                    <div class="label__changes label__changes-downgrade">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>0.34%</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="menu-dropdown__icon">
                    <img src="../../images/page/home/img/icon-header-menu.png" alt="image">
                  </div>
                  <div class="menu-dropdown__content">
                    <a href="#" class="menu-dropdown__link">Cardano<span class="text-opacity-5">ADA</span></a>
                    <div class="label__changes label__changes-rise">
                      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.43001 0.786674L0.606674 5.50001C0.548463 5.60081 0.517663 5.71511 0.517337 5.83151C0.517011 5.94792 0.547171 6.06238 0.604816 6.16352C0.662461 6.26465 0.745582 6.34892 0.84591 6.40796C0.946237 6.46699 1.06027 6.49873 1.17667 6.50001H6.82334C6.93974 6.49873 7.05378 6.46699 7.1541 6.40796C7.25443 6.34892 7.33755 6.26465 7.3952 6.16352C7.45284 6.06238 7.483 5.94792 7.48268 5.83151C7.48235 5.71511 7.45155 5.60081 7.39334 5.50001L4.57001 0.786674C4.51058 0.688709 4.42691 0.607714 4.32707 0.551502C4.22723 0.49529 4.11459 0.465759 4.00001 0.465759C3.88543 0.465759 3.77278 0.49529 3.67294 0.551502C3.5731 0.607714 3.48943 0.688709 3.43001 0.786674Z"
                          fill="#02C076"/>
                      </svg>
                      <span>2.03%</span>
                    </div>
                  </div>
                </li>
              </ul>
              <a href="#" class="btn btn-green btn-icon">All Cryptocurrencies
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.33344 8H12.6668" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M8.00012 3.33331L12.6668 7.99998L8.00012 12.6666" stroke="white" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </li>
          <li>
            <a href="#">Price Predictions</a>
          </li>
          <li>
            <a href="#">Beginner Guides</a>
          </li>
          <li>
            <a href="#">Broker Reviews</a>
          </li>
          <li>
            <a href="#">Crypto Exchanges</a>
          </li>
          <li class="nav-color">
            <a href="#">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1447:1103)">
                  <path d="M8 0.666656V15.3333" stroke="#FF4F00" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path
                    d="M11.3333 3.33334H6.33333C5.71449 3.33334 5.121 3.57918 4.68342 4.01676C4.24583 4.45435 4 5.04784 4 5.66668C4 6.28552 4.24583 6.87901 4.68342 7.31659C5.121 7.75418 5.71449 8.00001 6.33333 8.00001H9.66667C10.2855 8.00001 10.879 8.24584 11.3166 8.68343C11.7542 9.12101 12 9.71451 12 10.3333C12 10.9522 11.7542 11.5457 11.3166 11.9833C10.879 12.4208 10.2855 12.6667 9.66667 12.6667H4"
                    stroke="#FF4F00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clipPath id="clip0_1447:1103">
                    <rect width="16" height="16" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              Buy Crypto
            </a>
          </li>
        </ul>
      </nav>
      <ul class="icon-list">
        <li class="icon__search header__search icon-box" data-target="popup__search">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z"
              stroke="#002456" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14 14.0001L11.1 11.1001" stroke="#002456" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </li>
      </ul>
    </div>
  </div>
  <div class="search popup__search popup">
    <div class="container">
      <form class="search__form search__column">
        <div class="search__input">
          <div class="icon search__icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M21 21L16.65 16.65" stroke="white" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
          </div>
          <input type="search" placeholder="Enter a word or phrase to search the site.">
          <div class="icon icon__close search__close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 4L4 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M4 4L12 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </form>
      <div class="search__column">
        <div class="search__text">
          Popular requests:
        </div>
        <nav class="search__link">
          <ul class="request-list">
            <li>
              <a href="#">Bitcoin</a>
            </li>
            <li>
              <a href="#">BTC</a>
            </li>
            <li>
              <a href="#">Ethereum</a>
            </li>
            <li>
              <a href="#">Ripple</a>
            </li>
            <li>
              <a href="#">XRP</a>
            </li>
            <li>
              <a href="#">Uniswap</a>
            </li>
            <li>
              <a href="#">NFT</a>
            </li>
            <li>
              <a href="#">Axie Infinity</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="search__column">
        <div class="search__text">Popular articles:</div>
        <nav class="search__link">
          <ul class="article-list">
            <li>
              <a href="#">
                The Essential Crypto Engine Review – Is it Good for Beginners?
              </a>
            </li>
            <li>
              <a href="#">
                EOS Price Prediction Forecast 2021-2025
              </a>
            </li>
            <li>
              <a href="#">
                EOS Price Prediction Forecast 2021-2025
              </a>
            </li>
            <li>
              <a href="#">
                Telegram ICO Headed Towards 2 Billion USD
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

