<section class="news-form news-form-bg">
  <div class="container">
    <div class="news-form__info">
      <h2 class="news-form__title">Always up-to-date with news in the blockchain world</h2>
      <div class="news-form__description">
        Subscribe to our monthly newsletter. Absolutely free and no spam!
      </div>
    </div>
    <form class="subscribe" action="#">
      <div class="subscribe__container">
        <input class="input" placeholder="Your email" type="email">
        <button class="btn btn-orange">Subscribe</button>
      </div>
    </form>
  </div>
</section>
