html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
}

.description {
  font-size: 16px;
  line-height: 150%;
  color: #202020;
  opacity: 0.72;

  @include media(">=desktop") {
    font-size: 20px;
    line-height: 150%;
  }

  &-small {
    font-size: 14px;
    line-height: 17px;
  }
}

.text-opacity-5 {
  opacity: .5;
}

h1, h2 {
  color: $color-text;
}

h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  @include media(">=desktop") {
    font-size: 48px;
    line-height: 58px;
  }
}

h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}

#main {
  padding-top: 72px;
  @include media(">=desktop") {
    padding-top: 88px;
  }
}

a {
  text-decoration: none;
  color: $color-text;
}

picture {
  width: 100%;
}

img {
  width: 100%;
  min-height: 1px;
  height: auto;
}

.logo {
  display: flex;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;

  svg {
    margin-left: 2px;
  }
}

.container {
  padding: 0 24px;
  @include media(">=ipad") {
    max-width: 1168px;
    margin: 0 auto;
  }
}

.flex-wrapper {
  display: flex;
}


.date {
  font-family: Segoe UI, sans-serif;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  color: white;
  display: block;
  margin-top: 16px;
}

.nav {
  &__category {
    svg {
      transition: transform .5s ease;
    }

    a {
      transition: opacity .5s ease;
    }
  }

  &-color {
    a {
      color: #FF4F00!important;
    }
  }

  &-dropdown {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 40px;
      left: 0;
      bottom: 0;
      transform: translate(0, 100%);
    }

    &:hover {
      .nav__category {
        a {
          opacity: .5;
        }

        svg {
          transform: rotate(180deg);
        }
      }

      .menu-dropdown {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.dropdown-box {
  box-shadow: 0 100px 80px rgba(0, 36, 86, 0.04),
  0 50.625px 34.875px rgba(0, 36, 86, 0.027),
  0 20px 13px rgba(0, 36, 86, 0.02),
  0 4.375px 4.625px rgba(0, 36, 86, 0.013);
  border-radius: 8px;
  background: white;
  padding: 24px;
}
