// Variables
$breakpoints: (
  'phone': 375px,
  'tablet': 768px,
  'ipad': 1024px,
  'desktop': 1200px,
);

$font-family-sans-serif: 'Inter', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

$color-text: #002456;

$bg: #002456;

$downgrade-color: #F84960;

$rise-color: #02C076;






