// Footer

.footer {
  position: relative;
  padding: 40px 0;
  @include media(">=desktop") {
    padding-top: 128px;
    padding-bottom: 64px;
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 64px;
      grid-template-areas:
        "footerTopOne footerTopTwo footerTopThree"
        "footerRisk footerRisk footerRisk"
        "footerCopyright footerCopyright footerCopyright";
    }
  }

  &__logo {
    color: white;
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    @include media(">=desktop") {
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    @include media(">=desktop") {
      text-align: left;

      &-big {
        font-size: 14px;
        line-height: 150%;
      }
    }

    p {
      opacity: .5;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__link {
    text-align: center;
    margin-bottom: 32px;
    @include media(">=desktop") {
      text-align: left;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    ul {
      li {
        margin-bottom: 24px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    a {
      color: white;
      transition: color .5s ease;

      &:hover {
        color: #00A3FF;
      }
    }
  }

  &__info {
    @include media(">=desktop") {
      max-width: 344px;
      grid-area: footerTopOne;
    }
  }


  &__social {
    justify-content: space-between;
    width: max-content;
    margin: 0 auto;
    @include media(">=desktop") {
      margin: 0;
    }

    li {
      margin-right: 16px;

      &:hover {
        path {
          fill: #FFFFFF;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      a {
        display: flex;
      }

      path {
        transition: fill .5s ease;
      }

    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media(">=desktop") {
      justify-content: flex-start;
      align-items: flex-start;
    }

    .footer__title {
      margin-bottom: 16px;
      text-align: center;
    }

    a {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #00A3FF;
      transition: color .5s ease;

      &:hover {
        color: #FFFFFF;
      }
    }
  }

  &__copyright {
    text-align: center;
    @include media(">=desktop") {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-area: footerCopyright;
    }

    a {
      color: white;
      font-size: 14px;
      line-height: 17px;
      transition: color .5s ease;

      &:hover {
        color: #00A3FF;
      }
    }

    p {
      font-size: 12px;
      line-height: 15px;
      opacity: 0.5;
      margin-bottom: 16px;
      @include media(">=desktop") {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
      }
    }

    ul {
      @include media(">=desktop") {
        display: flex;
      }

      li {
        margin-bottom: 16px;
        @include media(">=desktop") {
          margin-bottom: 0;
          margin-right: 32px;
        }

        &:last-of-type {
          margin-bottom: 0;
          margin-right: 0;
        }
      }
    }

  }

  &__content-link {
    @include media(">=desktop") {
      padding: 0 64px;
      column-count: 2;
      column-gap: 64px;
      position: relative;

      &:before {
        left: 0;
        @include line-footer();

      }
      &:after {
        right: 0;
        @include line-footer();
      }
    }
  }

  &__item {
    margin-bottom: 32px;
    @include media(">=desktop") {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-bg {
    background: $bg;
    color: white;
  }

  .flex-wrapper {
    flex-direction: column;
  }
}

.risk-footer {
  padding: 16px;
  @include media(">=desktop") {
    padding: 24px;
    display: flex;
    align-items: center;
    grid-area: footerRisk;
  }

  &__title {
    font-size: 12px;
    line-height: 150%;
    opacity: .72;
    text-align: center;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    @include media(">=desktop") {
      text-align: left;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      margin-right: 24px;
      padding-right: 24px;
      border-right: 1px solid rgba(255, 255, 255, 0.25);
    }
  }

  &-bg {
    background: rgba(32, 32, 32, 0.32);
    border-radius: 8px;
  }
}

.follow-us {
  margin-bottom: 32px;
  @include media(">=desktop") {
    margin-bottom: 35px;
  }

  .footer__title {
    margin-bottom: 16px;
    text-align: center;
    @include media(">=desktop") {
      text-align: left;
    }
  }
}

