// Header

.header {
  padding: 16px 0;
  position: fixed;
  z-index: 99;
  background: white;
  width: 100%;
  border: 1px solid rgba(0, 36, 86, 0.08);
  @include media(">=desktop") {
    padding: 24px 0;
  }

  .container {
    padding: 0 16px;
  }

  &__nav {
    display: none;

    @include media(">=desktop") {
      display: flex;
      margin-right: 24px;
    }

    &.active {
      position: fixed;
      display: block;
      top: 72px;
      left: 0;
      background: #002456;
      border-radius: 0px;
      width: 100%;
      box-sizing: border-box;
      padding: 80px 24px;
      animation: fadeInFromNone 0.5s ease;

      > ul {
        flex-direction: column;

        > li {
          margin-right: 0;
          margin-bottom: 32px;

          &:last-of-type {
            margin-bottom: 0;
          }

          &.nav-dropdown {
            .menu-dropdown {
              display: none;
            }
          }

          .nav__category {
            svg {
              display: none;
            }
          }

          a {
            color: white;
            font-size: 16px;
            line-height: 100%;
          }
        }
      }
    }
    > ul {
      display: flex;
      align-items: center;

      > li {
        margin-right: 24px;

        > a {
          display: flex;
          align-items: center;
          transition: opacity .5s ease;

          &:hover {
            opacity: .5;
          }

          svg {
            margin-right: 4px;
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__btn {
    margin-right: 16px;
    @include media(">=desktop") {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__wrapper {
    align-items: center;
    justify-content: space-between;
  }

}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
