.news-form {
  color: #FFF;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  @include media(">=desktop") {
    max-width: 1168px;
    border-radius: 16px;
    margin: 0 auto -64px;
    z-index: 1;
  }

  &:before {
    content: "";
    background: linear-gradient(0deg, #002456, #002456),
    url("../images/page/home/img/jean.png") bottom right, #002456;
    background-blend-mode: hard-light, normal, normal, normal;
    box-shadow: 0 100px 80px rgba(0, 163, 255, 0.04), 0 50.625px 34.875px rgba(0, 163, 255, 0.027),
    0 20px 13px rgba(0, 163, 255, 0.02), 0 4.375px 4.625px rgba(0, 163, 255, 0.013);
    background-size: 130% 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: 50% 50%;
    top: 0;
    @include media(">=ipad") {
      height: 100%;
      background-position: 0 -133px;
      background-size: 100% 200%;
      transform-origin: initial;
      transform: initial;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: white;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 32px;
  }
}

.subscribe {
  max-width: 420px;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-direction: column;
    @include media(">=ipad") {
      flex-direction: row;
      position: relative;
    }

    input {
      border-radius: 62px;
      height: 56px;
      text-align: center;
      margin-bottom: 16px;
      @include media(">=ipad") {
        height: 64px;
        padding: 21.5px 32px;
        text-align: left;
        margin-bottom: 0;
      }
    }

    button {
      max-width: 100%;
      @include media(">=ipad") {
        padding: 14.5px 24px;
        right: 8px;
        top: 8px;
        position: absolute;
      }
    }
  }
}

