<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cryptona</title>
  <meta name="description" content="">
  <%= require('html-loader?minimize=false!../partials/head.html') %>
</head>
<body>
<div id="wrapper">
  <%= require('html-loader?minimize=false!../partials/header.html') %>
  <main id="main">
    <section class="looking looking-bg">
      <div class="container">
        <ul class="label__list looking__label">
          <li>
            <div class="label__changes label__changes-downgrade label__changes-downgrade-bg  label__changes-box">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                  fill="#02C076"/>
              </svg>
              <div class="label__text">BTC</div>
              <span><b>$39567</b></span>
            </div>
            <div class="price-dropdown dropdown-box">
              <ul>
                <li class="price-dropdown__text">
                  <div class="price-dropdown__title text-opacity-5">
                    Price
                  </div>
                  <span><b>$39567</b></span>
                </li>
                <li class="label__changes label__changes-downgrade">
                  <div class="price-dropdown__title text-opacity-5">
                    Price Change 24h
                  </div>
                  <span><b>1.99%</b></span>
                </li>
                <li class="label__changes label__changes-rise">
                  <div class="price-dropdown__title text-opacity-5">
                    Price Change 7d
                  </div>
                  <span><b>0.31%</b></span>
                </li>
                <li class="price-dropdown__text">
                  <div class="price-dropdown__title text-opacity-5">
                    Market Cap
                  </div>
                  <span><b>$722,718,519,991</b></span>
                </li>
                <li class="price-dropdown__text">
                  <div class="price-dropdown__title text-opacity-5">
                    Volume(24h)
                  </div>
                  <span><b>$25,569,162,348</b></span>
                </li>
              </ul>
              <a href="#" class="btn btn-green btn-icon">CTA Button
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.83337 8H13.1667" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M8.50006 3.33331L13.1667 7.99998L8.50006 12.6666" stroke="white" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </li>
          <li>
            <div class="label__changes label__changes-rise label__changes-rise-bg label__changes-box">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                  fill="#02C076"/>
              </svg>
              <div class="label__text">ETH</div>
              <span><b>$2589.2</b></span>
            </div>
            <div class="price-dropdown dropdown-box">
              <ul>
                <li class="price-dropdown__text">
                  <div class="price-dropdown__title text-opacity-5">
                    Price
                  </div>
                  <span><b>$39567</b></span>
                </li>
                <li class="label__changes label__changes-downgrade">
                  <div class="price-dropdown__title text-opacity-5">
                    Price Change 24h
                  </div>
                  <span><b>1.99%</b></span>
                </li>
                <li class="label__changes label__changes-rise">
                  <div class="price-dropdown__title text-opacity-5">
                    Price Change 7d
                  </div>
                  <span><b>0.31%</b></span>
                </li>
                <li class="price-dropdown__text">
                  <div class="price-dropdown__title text-opacity-5">
                    Market Cap
                  </div>
                  <span><b>$722,718,519,991</b></span>
                </li>
                <li class="price-dropdown__text">
                  <div class="price-dropdown__title text-opacity-5">
                    Volume(24h)
                  </div>
                  <span><b>$25,569,162,348</b></span>
                </li>
              </ul>
              <a href="#" class="btn btn-green btn-icon">CTA Button
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.83337 8H13.1667" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M8.50006 3.33331L13.1667 7.99998L8.50006 12.6666" stroke="white" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </li>
        </ul>
        <div class="looking__content">
          <h1 class="h1 looking__title">Are You Looking For The Best Crypto’s To Invest In?</h1>
          <div class="description looking__description">
            <p>Whether you're a newcomer to crypto or a veteran trader, Cryptona is all you need to stay updated,
              educated,
              and informed on the crypto investing sphere.</p>
          </div>
          <a href="#" class="btn btn-orange looking__btn">
            Show Cryptocurrencies
          </a>
        </div>
        <picture class="looking__img">
          <img src="images/page/home/img/home-looking-desktop.png" alt="image">
        </picture>
      </div>
    </section>
    <div class="home__wrapper">
      <section class="featured">
        <div class="container">
          <div class="section-header featured__header">
            <div class="icon icon__section section-header__icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 19L19 12L22 15L15 22L12 19Z" stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M18 13L16.5 5.49997L2 1.99997L5.5 16.5L13 18L18 13Z" stroke="#00A3FF" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 1.99997L9.586 9.58597" stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path
                  d="M11 13C12.1046 13 13 12.1046 13 11C13 9.89543 12.1046 9 11 9C9.89543 9 9 9.89543 9 11C9 12.1046 9.89543 13 11 13Z"
                  stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="section-header__content">
              <h2 class="h2 section-header__title">Featured In</h2>
              <div class="description description-small section-header__description">
                <p>We have been mentioned by publications such as:</p>
              </div>
            </div>
          </div>
          <div class="swiper featured__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide featured__slider-slide">
                <a href="#">
                  <picture>
                    <img src="images/page/home/img/1280px-Investopedia_Logo%201.png" alt="image">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide featured__slider-slide">
                <a href="#">
                  <picture>
                    <img src="images/page/home/img/1200px-Business_Insider_Logo%201.png" alt="image">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide featured__slider-slide">
                <a href="#">
                  <picture>
                    <img src="images/page/home/img/1200px-Bloomberg_logo%201.png" alt="image">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide featured__slider-slide">
                <a href="#">
                  <picture>
                    <img src="images/page/home/img/Cointelegraph_logo%201.png" alt="image">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide featured__slider-slide">
                <a href="#">
                  <picture>
                    <img src="images/page/home/img/68c53349c67144eebaab0e75783ccb98%202%201.png" alt="image">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="top">
        <div class="container">
          <div class="section-header top__header">
            <div class="icon icon__section section-header__icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 6L13.5 15.5L8.5 10.5L1 18" stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M17 6H23V12" stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="section-header__content">
              <h2 class="h2 section-header__title">Top gainers last week</h2>
              <div class="description description-small section-header__description">
                <p>See which cryptocurrencies rose the most last week</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange btn-big section-header__btn-right">
              All Crypto
            </a>
          </div>
          <div class="swiper top__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide item-top item-top-bg">
                <div class="item-top__icon">
                  <img src="images/page/home/img/image2.png" alt="image">
                </div>
                <div class="item-top__text">
                  <h3 class="item-top__title">
                    XRP
                  </h3>
                  <div class="item-top__subtitle">XRP</div>
                </div>
                <div class="item-top__price item-top__hover-hide">$0.7427</div>
                <div
                  class="label__changes label__changes-rise
                  label__changes-small-bg label__changes-small item-top__label item-top__hover-hide">
                  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                      fill="#02C076"/>
                  </svg>
                  <span>12.46%</span>
                </div>
                <div class="item-top__hover">
                  <div class="item-top__description">
                    <p>CTA Text et leo id vitae consectetur</p>
                  </div>
                  <a href="#" class="btn btn-green btn-icon item-top__btn">Learn More
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.33325 8.00021H12.6666" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"/>
                      <path d="M8 3.33356L12.6667 8.00022L8 12.6669" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide item-top item-top-bg">
                <div class="item-top__icon">
                  <img src="images/page/home/img/image2-1.png" alt="image">
                </div>
                <div class="item-top__text">
                  <h3 class="item-top__title">
                    Ethereum
                  </h3>
                  <div class="item-top__subtitle">XRP</div>
                </div>
                <div class="item-top__price item-top__hover-hide">$2,581.59</div>
                <div
                  class="label__changes label__changes-rise
                  label__changes-small-bg label__changes-small item-top__label item-top__hover-hide">
                  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                      fill="#02C076"/>
                  </svg>
                  <span>9.76%</span>
                </div>
                <div class="item-top__hover hover">
                  <div class="item-top__description">
                    <p>CTA Text et leo id vitae consectetur</p>
                  </div>
                  <a href="#" class="btn btn-green btn-icon item-top__btn">Learn More
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.33325 8.00021H12.6666" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"/>
                      <path d="M8 3.33356L12.6667 8.00022L8 12.6669" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide item-top item-top-bg">
                <div class="item-top__icon">
                  <img src="images/page/home/img/image2-2.png" alt="image">
                </div>
                <div class="item-top__text">
                  <h3 class="item-top__title">
                    Binance Coin
                  </h3>
                  <div class="item-top__subtitle">BNB</div>
                </div>
                <div class="item-top__price item-top__hover-hide">$329.99</div>
                <div
                  class="label__changes label__changes-rise
                  label__changes-small-bg label__changes-small item-top__label item-top__hover-hide">
                  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                      fill="#02C076"/>
                  </svg>
                  <span>3.02%</span>
                </div>
                <div class="item-top__hover">
                  <div class="item-top__description">
                    <p>CTA Text et leo id vitae consectetur</p>
                  </div>
                  <a href="#" class="btn btn-green btn-icon item-top__btn">Learn More
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.33325 8.00021H12.6666" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"/>
                      <path d="M8 3.33356L12.6667 8.00022L8 12.6669" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide item-top item-top-bg">
                <div class="item-top__icon">
                  <img src="images/page/home/img/image2-3.png" alt="image">
                </div>
                <div class="item-top__text">
                  <h3 class="item-top__title">
                    Bitcoin
                  </h3>
                  <div class="item-top__subtitle">BTC</div>
                </div>
                <div class="item-top__price item-top__hover-hide">$39,273.14</div>
                <div
                  class="label__changes label__changes-rise
                  label__changes-small-bg label__changes-small item-top__label item-top__hover-hide">
                  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                      fill="#02C076"/>
                  </svg>
                  <span>1.32%</span>
                </div>
                <div class="item-top__hover">
                  <div class="item-top__description">
                    <p>CTA Text et leo id vitae consectetur</p>
                  </div>
                  <a href="#" class="btn btn-green btn-icon item-top__btn">Learn More
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.33325 8.00021H12.6666" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"/>
                      <path d="M8 3.33356L12.6667 8.00022L8 12.6669" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide item-top item-top-bg">
                <div class="item-top__icon">
                  <img src="images/page/home/img/image2-4.png" alt="image">
                </div>
                <div class="item-top__text">
                  <h3 class="item-top__title">
                    Tether
                  </h3>
                  <div class="item-top__subtitle">USDT</div>
                </div>
                <div class="item-top__price item-top__hover-hide">$1.00</div>
                <div
                  class="label__changes label__changes-rise
                  label__changes-small-bg label__changes-small item-top__label item-top__hover-hide">
                  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                      fill="#02C076"/>
                  </svg>
                  <span>0.01%</span>
                </div>
                <div class="item-top__hover">
                  <div class="item-top__description">
                    <p>CTA Text et leo id vitae consectetur</p>
                  </div>
                  <a href="#" class="btn btn-green btn-icon item-top__btn">Learn More
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.33325 8.00021H12.6666" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"/>
                      <path d="M8 3.33356L12.6667 8.00022L8 12.6669" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="swiper-slide item-top item-top-bg">
                <div class="item-top__icon">
                  <img src="images/page/home/img/image2-5.png" alt="image">
                </div>
                <div class="item-top__text">
                  <h3 class="item-top__title">Cardano</h3>
                  <div class="item-top__subtitle">ADA</div>
                </div>
                <div class="item-top__price item-top__hover-hide">$1.31</div>
                <div class="label__changes label__changes-downgrade
                label__changes-small-bg label__changes-small item-top__label item-top__hover-hide">
                  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.43001 1.28673L0.606674 6.00007C0.548463 6.10088 0.517663 6.21517 0.517337 6.33157C0.517011 6.44798 0.547171 6.56245 0.604816 6.66358C0.662461 6.76471 0.745582 6.84898 0.84591 6.90802C0.946237 6.96705 1.06027 6.99879 1.17667 7.00007H6.82334C6.93974 6.99879 7.05378 6.96705 7.1541 6.90802C7.25443 6.84898 7.33755 6.76471 7.3952 6.66358C7.45284 6.56245 7.483 6.44798 7.48268 6.33157C7.48235 6.21517 7.45155 6.10088 7.39334 6.00007L4.57001 1.28673C4.51058 1.18877 4.42691 1.10777 4.32707 1.05156C4.22723 0.995351 4.11459 0.96582 4.00001 0.96582C3.88543 0.96582 3.77278 0.995351 3.67294 1.05156C3.5731 1.10777 3.48943 1.18877 3.43001 1.28673Z"
                      fill="#02C076"/>
                  </svg>
                  <span>2.47%</span>
                </div>
                <div class="item-top__hover">
                  <div class="item-top__description">
                    <p>CTA Text et leo id vitae consectetur</p>
                  </div>
                  <a href="#" class="btn btn-green btn-icon item-top__btn">Learn More
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.33325 8.00021H12.6666" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"/>
                      <path d="M8 3.33356L12.6667 8.00022L8 12.6669" stroke="white" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-orange btn-big btn__section-mob">
            All Crypto
          </a>
        </div>
      </section>
      <section class="popular">
        <div class="container">
          <div class="section-header popular__header">
            <div class="icon icon__section section-header__icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
                  stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="section-header__content">
              <h2 class="h2 section-header__title">Popular articles</h2>
              <div class="description description-small section-header__description">
                <p>Interdum ultrices morbi mollis nunc dolor etiam</p>
              </div>
            </div>
          </div>
          <div class="list popular__list">
            <article class="list-item">
              <div class="list-item__img">
                <picture>
                  <img src="images/page/home/img/popular-img.png" alt="image">
                </picture>
              </div>
              <div class="list-item__container">
                <a href="#" class="category category-bg list-item__subtitle">
                  <div class="post-list__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3333 4.66681H2.66665C1.93027 4.66681 1.33331 5.26376 1.33331 6.00014V12.6668C1.33331 13.4032 1.93027 14.0001 2.66665 14.0001H13.3333C14.0697 14.0001 14.6666 13.4032 14.6666 12.6668V6.00014C14.6666 5.26376 14.0697 4.66681 13.3333 4.66681Z"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M10.6666 14.0001V3.33346C10.6666 2.97983 10.5262 2.64069 10.2761 2.39065C10.0261 2.1406 9.68694 2.00012 9.33331 2.00012H6.66665C6.31302 2.00012 5.97389 2.1406 5.72384 2.39065C5.47379 2.64069 5.33331 2.97983 5.33331 3.33346V14.0001"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  Broker Reviews
                </a>
                <a href="#">
                  <h3 class="list-item__title">The Essential Crypto Engine Review – Is it Good for Beginners?</h3>
                </a>
                <a href="#" class="btn btn-orange list-item__button">
                  Button Text
                </a>
              </div>
            </article>
            <article class="list-item">
              <div class="list-item__img">
                <picture>
                  <img src="images/page/home/img/popular-width-img.png" alt="image">
                </picture>
              </div>
              <div class="list-item__container">
                <a href="#" class="category category-color list-item__subtitle">
                  Beginner Guides
                </a>
                <a href="#">
                  <h3 class="list-item__title">The Essential Crypto Engine Review – Is it Good for Beginners?</h3>
                </a>
              </div>
            </article>
            <article class="list-item">
              <div class="list-item__img">
                <picture>
                  <img src="images/page/home/img/popular-img.png" alt="image">
                </picture>
              </div>
              <div class="list-item__container">
                <a href="#">
                  <div class="list-item__subtitle">Price Predictions</div>
                </a>
                <a href="#">
                  <h3 class="list-item__title">The Essential Crypto Engine Review – Is it Good for Beginners?</h3>
                </a>
              </div>
            </article>
            <article class="list-item">
              <div class="list-item__img">
                <picture>
                  <img src="images/page/home/img/popular-img.png" alt="image">
                </picture>
              </div>
              <div class="list-item__container">
                <a href="#">
                  <div class="list-item__subtitle">Price Predictions</div>
                </a>
                <a href="#">
                  <h3 class="list-item__title">The Essential Crypto Engine Review – Is it Good for Beginners?</h3>
                </a>
              </div>
            </article>
          </div>
        </div>
      </section>
      <section class="beginner-guides beginner-guides-bg">
        <div class="container">
          <div class="section-header beginner-guides__header">
            <div class="icon icon__section section-header__icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2 3H8C9.06087 3 10.0783 3.42143 10.8284 4.17157C11.5786 4.92172 12 5.93913 12 7V21C12 20.2044 11.6839 19.4413 11.1213 18.8787C10.5587 18.3161 9.79565 18 9 18H2V3Z"
                  stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M22 3H16C14.9391 3 13.9217 3.42143 13.1716 4.17157C12.4214 4.92172 12 5.93913 12 7V21C12 20.2044 12.3161 19.4413 12.8787 18.8787C13.4413 18.3161 14.2044 18 15 18H22V3Z"
                  stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="section-header__content">
              <h2 class="h2 section-header__title">Beginner Guides</h2>
              <div class="description description-small section-header__description">
                <p>We have collected the best articles for a successful start of cryptocurrency trading</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange btn-big section-header__btn-right">
              View All Guides
            </a>
          </div>
          <div class="list beginner-guides__list">
            <article class="list-item list-item-hover">
              <a href="#">
                <div class="list-item__img">
                  <picture>
                    <img src="images/page/home/img/beginner-img.png" alt="image">
                  </picture>
                </div>
                <div class="list-item__container">
                  <h3 class="list-item__title">The Ultimate Guide to Leverage Trading in 4 Steps</h3>
                  <div class="list-item__description hover">
                    <p>
                      Nibh commodo cras non faucibus et duis. Enim varius facilisis felis neque ac gravida massa. Netus
                      lacus, senectus nibh sit eget donec pretium id. Imperdiet imperdiet fringilla nisl.
                    </p>
                  </div>
                  <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
                </div>
              </a>
            </article>
            <article class="list-item list-item-hover">
              <a href="#">
                <div class="list-item__img">
                  <picture>
                    <img src="images/page/home/img/beginner-img.png" alt="image">
                  </picture>
                </div>
                <div class="list-item__container">
                  <h3 class="list-item__title">The Ultimate Guide to Leverage Trading in 4 Steps</h3>
                  <div class="list-item__description hover">
                    <p>
                      Nibh commodo cras non faucibus et duis. Enim varius facilisis felis neque ac gravida massa. Netus
                      lacus, senectus nibh sit eget donec pretium id. Imperdiet imperdiet fringilla nisl.
                    </p>
                  </div>
                  <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
                </div>
              </a>
            </article>
            <article class="list-item list-item-hover">
              <a href="#">
                <div class="list-item__img">
                  <picture>
                    <img src="images/page/home/img/beginner-img.png" alt="image">
                  </picture>
                </div>
                <div class="list-item__container">
                  <h3 class="list-item__title">The Ultimate Guide to Leverage Trading in 4 Steps</h3>
                  <div class="list-item__description hover">
                    <p>
                      Nibh commodo cras non faucibus et duis. Enim varius facilisis felis neque ac gravida massa. Netus
                      lacus, senectus nibh sit eget donec pretium id. Imperdiet imperdiet fringilla nisl.
                    </p>
                  </div>
                  <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
                </div>
              </a>
            </article>
          </div>
          <a href="#" class="btn btn-orange btn-big btn__section-mob">
            View All Guides
          </a>
        </div>
      </section>
      <section class="latest-posts">
        <div class="container">
          <div class="section-header latest-posts__header">
            <div class="icon icon__section section-header__icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                  stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 6V12L16 14" stroke="#00A3FF" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="section-header__content">
              <h2 class="h2 section-header__title">Latest Posts</h2>
              <div class="description description-small section-header__description">
                <p>The most current news from the cryptocurrency world</p>
              </div>
            </div>
          </div>
          <div class="post-list">
            <article class="post-list__item post-list__item-bg">
              <div class="post-list__img">
                <picture>
                  <img src="images/page/home/img/post-img.png" alt="image">
                </picture>
                <a href="#" class="category category-bg post-list__category">
                  <div class="post-list__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3333 4.66681H2.66665C1.93027 4.66681 1.33331 5.26376 1.33331 6.00014V12.6668C1.33331 13.4032 1.93027 14.0001 2.66665 14.0001H13.3333C14.0697 14.0001 14.6666 13.4032 14.6666 12.6668V6.00014C14.6666 5.26376 14.0697 4.66681 13.3333 4.66681Z"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M10.6666 14.0001V3.33346C10.6666 2.97983 10.5262 2.64069 10.2761 2.39065C10.0261 2.1406 9.68694 2.00012 9.33331 2.00012H6.66665C6.31302 2.00012 5.97389 2.1406 5.72384 2.39065C5.47379 2.64069 5.33331 2.97983 5.33331 3.33346V14.0001"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  Broker Reviews
                </a>
              </div>
              <div class="post-list__container">
                <a href="#">
                  <h3 class="post-list__title">
                    EOS Price Prediction Forecast 2021-2025
                  </h3>
                </a>
                <div class="description post-list__description">
                  <p>Amongst the countless uses of digital currencies and blockchain technology is its ability to create
                    decentralized technology and apps. But where does one...</p>
                </div>
                <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
              </div>
            </article>
            <article class="post-list__item post-list__item-bg">
              <div class="post-list__img">
                <picture>
                  <img src="images/page/home/img/post-img.png" alt="image">
                </picture>
                <a href="#" class="category category-bg post-list__category">
                  <div class="post-list__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3333 4.66681H2.66665C1.93027 4.66681 1.33331 5.26376 1.33331 6.00014V12.6668C1.33331 13.4032 1.93027 14.0001 2.66665 14.0001H13.3333C14.0697 14.0001 14.6666 13.4032 14.6666 12.6668V6.00014C14.6666 5.26376 14.0697 4.66681 13.3333 4.66681Z"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M10.6666 14.0001V3.33346C10.6666 2.97983 10.5262 2.64069 10.2761 2.39065C10.0261 2.1406 9.68694 2.00012 9.33331 2.00012H6.66665C6.31302 2.00012 5.97389 2.1406 5.72384 2.39065C5.47379 2.64069 5.33331 2.97983 5.33331 3.33346V14.0001"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  Broker Reviews
                </a>
              </div>
              <div class="post-list__container">
                <a href="#">
                  <h3 class="post-list__title">
                    EOS Price Prediction Forecast 2021-2025
                  </h3>
                </a>
                <div class="description post-list__description">
                  <p>Amongst the countless uses of digital currencies and blockchain technology is its ability to create
                    decentralized technology and apps. But where does one...</p>
                </div>
                <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
              </div>
            </article>
            <article class="post-list__item post-list__item-bg">
              <div class="post-list__img">
                <picture>
                  <img src="images/page/home/img/post-img.png" alt="image">
                </picture>
                <a href="#" class="category category-bg post-list__category">
                  <div class="post-list__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3333 4.66681H2.66665C1.93027 4.66681 1.33331 5.26376 1.33331 6.00014V12.6668C1.33331 13.4032 1.93027 14.0001 2.66665 14.0001H13.3333C14.0697 14.0001 14.6666 13.4032 14.6666 12.6668V6.00014C14.6666 5.26376 14.0697 4.66681 13.3333 4.66681Z"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M10.6666 14.0001V3.33346C10.6666 2.97983 10.5262 2.64069 10.2761 2.39065C10.0261 2.1406 9.68694 2.00012 9.33331 2.00012H6.66665C6.31302 2.00012 5.97389 2.1406 5.72384 2.39065C5.47379 2.64069 5.33331 2.97983 5.33331 3.33346V14.0001"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  Broker Reviews
                </a>
              </div>
              <div class="post-list__container">
                <a href="#">
                  <h3 class="post-list__title">
                    EOS Price Prediction Forecast 2021-2025
                  </h3>
                </a>
                <div class="description post-list__description">
                  <p>Amongst the countless uses of digital currencies and blockchain technology is its ability to create
                    decentralized technology and apps. But where does one...</p>
                </div>
                <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
              </div>
            </article>
            <article class="post-list__item post-list__item-bg">
              <div class="post-list__img">
                <picture>
                  <img src="images/page/home/img/post-img.png" alt="image">
                </picture>
                <a href="#" class="category category-bg post-list__category">
                  <div class="post-list__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3333 4.66681H2.66665C1.93027 4.66681 1.33331 5.26376 1.33331 6.00014V12.6668C1.33331 13.4032 1.93027 14.0001 2.66665 14.0001H13.3333C14.0697 14.0001 14.6666 13.4032 14.6666 12.6668V6.00014C14.6666 5.26376 14.0697 4.66681 13.3333 4.66681Z"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M10.6666 14.0001V3.33346C10.6666 2.97983 10.5262 2.64069 10.2761 2.39065C10.0261 2.1406 9.68694 2.00012 9.33331 2.00012H6.66665C6.31302 2.00012 5.97389 2.1406 5.72384 2.39065C5.47379 2.64069 5.33331 2.97983 5.33331 3.33346V14.0001"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  Broker Reviews
                </a>
              </div>
              <div class="post-list__container">
                <a href="#">
                  <h3 class="post-list__title">
                    EOS Price Prediction Forecast 2021-2025
                  </h3>
                </a>
                <div class="description post-list__description">
                  <p>Amongst the countless uses of digital currencies and blockchain technology is its ability to create
                    decentralized technology and apps. But where does one...</p>
                </div>
                <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
              </div>
            </article>
            <article class="post-list__item post-list__item-bg">
              <div class="post-list__img">
                <picture>
                  <img src="images/page/home/img/post-img.png" alt="image">
                </picture>
                <a href="#" class="category category-bg post-list__category">
                  <div class="post-list__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3333 4.66681H2.66665C1.93027 4.66681 1.33331 5.26376 1.33331 6.00014V12.6668C1.33331 13.4032 1.93027 14.0001 2.66665 14.0001H13.3333C14.0697 14.0001 14.6666 13.4032 14.6666 12.6668V6.00014C14.6666 5.26376 14.0697 4.66681 13.3333 4.66681Z"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M10.6666 14.0001V3.33346C10.6666 2.97983 10.5262 2.64069 10.2761 2.39065C10.0261 2.1406 9.68694 2.00012 9.33331 2.00012H6.66665C6.31302 2.00012 5.97389 2.1406 5.72384 2.39065C5.47379 2.64069 5.33331 2.97983 5.33331 3.33346V14.0001"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  Broker Reviews
                </a>
              </div>
              <div class="post-list__container">
                <a href="#">
                  <h3 class="post-list__title">
                    EOS Price Prediction Forecast 2021-2025
                  </h3>
                </a>
                <div class="description post-list__description">
                  <p>Amongst the countless uses of digital currencies and blockchain technology is its ability to create
                    decentralized technology and apps. But where does one...</p>
                </div>
                <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
              </div>
            </article>
            <article class="post-list__item post-list__item-bg">
              <div class="post-list__img">
                <picture>
                  <img src="images/page/home/img/post-img.png" alt="image">
                </picture>
                <a href="#" class="category category-bg post-list__category">
                  <div class="post-list__icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.3333 4.66681H2.66665C1.93027 4.66681 1.33331 5.26376 1.33331 6.00014V12.6668C1.33331 13.4032 1.93027 14.0001 2.66665 14.0001H13.3333C14.0697 14.0001 14.6666 13.4032 14.6666 12.6668V6.00014C14.6666 5.26376 14.0697 4.66681 13.3333 4.66681Z"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M10.6666 14.0001V3.33346C10.6666 2.97983 10.5262 2.64069 10.2761 2.39065C10.0261 2.1406 9.68694 2.00012 9.33331 2.00012H6.66665C6.31302 2.00012 5.97389 2.1406 5.72384 2.39065C5.47379 2.64069 5.33331 2.97983 5.33331 3.33346V14.0001"
                        stroke="#02C076" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  Broker Reviews
                </a>
              </div>
              <div class="post-list__container">
                <a href="#">
                  <h3 class="post-list__title">
                    EOS Price Prediction Forecast 2021-2025
                  </h3>
                </a>
                <div class="description post-list__description">
                  <p>Amongst the countless uses of digital currencies and blockchain technology is its ability to create
                    decentralized technology and apps. But where does one...</p>
                </div>
                <time class="date" datetime="2021-07-8">JULY 8, 2021</time>
              </div>
            </article>
          </div>
          <a href="#" class="btn btn-orange btn-orange-outline btn-icon-left latest-posts__btn">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_101:514)">
                <path d="M15.3334 2.66675V6.66675H11.3334" stroke="#FF4F00" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M0.666626 13.3333V9.33325H4.66663" stroke="#FF4F00" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path
                  d="M2.33996 6.00013C2.67807 5.04466 3.25271 4.1904 4.01027 3.51708C4.76783 2.84375 5.6836 2.37331 6.67215 2.14964C7.6607 1.92597 8.6898 1.95636 9.66342 2.23798C10.637 2.5196 11.5235 3.04327 12.24 3.76013L15.3333 6.6668M0.666626 9.33347L3.75996 12.2401C4.47646 12.957 5.36287 13.4807 6.3365 13.7623C7.31012 14.0439 8.33922 14.0743 9.32777 13.8506C10.3163 13.627 11.2321 13.1565 11.9896 12.4832C12.7472 11.8099 13.3218 10.9556 13.66 10.0001"
                  stroke="#FF4F00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_101:514">
                  <rect width="16" height="16" fill="white"/>
                </clipPath>
              </defs>
            </svg>


            Load More
          </a>
        </div>
      </section>
    </div>
    <%= require('html-loader!../partials/news-form.html') %>
  </main>
  <%= require('html-loader?minimize=false!../partials/footer.html') %>
</div>
</body>
</html>
