.beginner-guides {
  padding: 40px 0;
  margin: -40px 0;
  @include media(">=desktop") {
    padding: 80px 0;
    margin: 0;
  }

  &__list {
    @include media(">=tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px;
    }
    @include media(">=ipad") {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 32px;
      .list-item {
        &:hover {
          transform: translateY(-10px);
          &__img {
            img {
              transform: scale(1.4) translateY(-5%);
            }
          }
        }
      }

    }
  }

  &__header {
    margin-bottom: 42px;
    @include media(">=desktop") {
      margin-bottom: 48px;
    }
  }

  &-bg {
    background: rgba(0, 163, 255, 0.08);
    @include media(">=desktop") {
      position: relative;
      background: none;
      &:before {
        content: "";
        position: absolute;
        background: rgba(0, 163, 255, 0.08);
        top: 0;
        border-radius: 0px 80px 80px 0px;
        height: 75%;
        max-width: 50%;
        width: 100%;
        left: 0;
      }
    }
  }
}

section.beginner-guides {
  margin-bottom: 40px;
}
