.featured {
  &__header {
    margin-bottom: 24px;
  }

  &__slider {
    padding: 100px 72px 100px 24px;
    margin: -100px -24px;
    @include media(">=desktop"){
      padding-right: 0;
      padding-left: 0;
      margin: -100px 0;
    }

    .swiper-slide {
      display: flex;
      background: #FFFFFF;
      cursor: pointer;
      border-radius: 16px;
      padding: 24px;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      max-width: 221px;

      picture {
        opacity: 0.5;
        transition: opacity .5s ease;
      }

      &-active {
        box-shadow: 0 100px 80px rgba(0, 36, 86, 0.04),
        0 50.625px 34.875px rgba(0, 36, 86, 0.027),
        0 20px 13px rgba(0, 36, 86, 0.02),
        0 4.375px 4.625px rgba(0, 36, 86, 0.013);
        transition: box-shadow 0.3s ease-in-out;

        picture {
          opacity: 1;
        }
      }

    }

  }
}
