.latest-posts {
  &__header {
    margin-bottom: 32px;
  }
  &__btn {
    width: max-content;
    margin: 32px auto 0;
  }
}

.post-list {
  @include media(">=tablet") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;

  }
  @include media(">=ipad") {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    .post-list {
      &__item {
        &:hover {
          .post-list__img {
            img {
              transform: scale(1.2);
            }
          }

          .post-list__container {
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__img {
    position: relative;
    overflow: hidden;

    img {
      transition: transform .5s ease;
    }
  }

  &__category {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

  &__icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: $color-text;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 16px;
    @include truncateLine(4)
  }

  &__container {
    padding: 24px 16px;

    .date {
      color: $color-text;
    }
  }

  &__item {
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 16px;
    @include media(">=ipad") {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-bg {
      background: linear-gradient(0deg, rgba(0, 163, 255, 0.08), rgba(0, 163, 255, 0.08)), #FFFFFF;
    }
  }
}
