.looking {
  padding: 24px 0;
  @include media(">=desktop") {
    position: relative;
    padding-top: 32px;
    padding-bottom: 132px;
    margin-bottom: 80px;
  }

  .container {
    position: relative;
  }

  &__title {
    margin-bottom: 24px;
    @include media(">=desktop") {
      text-align: left;
    }
  }

  &__content {
    max-width: 640px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    @include media(">=desktop") {
      margin: 0;
    }
  }

  &__description {
    margin-bottom: 32px;
    text-align: center;
    @include media(">=desktop") {
      text-align: left;
    }
  }

  &__img {
    display: none;
    @include media(">=desktop") {
      position: absolute;
      display: block;
      bottom: -195px;
      max-width: 577px;
      right: 80px;
      z-index: 0;
    }
  }

  &__label {
    margin-bottom: 32px;
    @include media(">=desktop") {
      margin-bottom: 64px;
    }

    li {
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
        .price-dropdown {
          right: 0;
          left: auto;
          @include media(">=desktop") {
            right: auto;
            left: 0;
            &:before{
              left: 0;
              right: auto;
            }
          }

          &:before{
            left: auto;
            right: 0;
          }
        }
      }
    }
  }

  &__btn {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    width: max-content;
    margin: 0 auto;
    @include media(">=desktop") {
      width: max-content;
      margin: 0;
    }
  }

  &-bg {
    background: rgba(0, 163, 255, 0.08);
    border-radius: 0px 0px 40px 0px;
  }
}
