.popular {
  &__header {
    margin-bottom: 32px;
  }

  &__list {
    @include media(">=tablet") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 32px;
    }
    @include media(">=ipad") {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(100px, 240px);
      grid-gap: 16px;
      grid-template-areas:
        "one one two two"
        "one one three four";

      article {
        &:nth-child(1n+1) {
          grid-area: one;

          h3 {
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 0;
          }
        }

        &:nth-child(2n+2) {
          grid-area: two;

          h3 {
            font-size: 16px;
            line-height: 150%;
          }
        }

        &:nth-child(3n+3) {
          grid-area: three;

          h3 {
            font-size: 20px;
            line-height: 150%;
          }
        }

        &:nth-child(4n+4) {
          grid-area: four;

          h3 {
            font-size: 20px;
            line-height: 150%;
          }
        }

        &:nth-child(n+4) {
          grid-area: auto;

          h3 {
            font-size: 20px;
            line-height: 150%;
          }
        }
      }
    }
  }

}


