.top {
  &__header {
    margin-bottom: 32px;
    @include media(">=desktop") {
      margin-bottom: 64px;
    }
  }

  &__slider {
    padding: 40px 136px 40px 0;
    margin: -40px -24px -40px 0;
    @include media(">=desktop") {
      overflow: visible;
      padding: 0;
      margin: 0;
    }

    .swiper-slide {
      max-width: 182px;
    }
  }
}

.item-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 24px 32px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  transition: box-shadow .5s;

  @include media(">=desktop") {
    &:hover {
      box-shadow: 0 100px 80px rgba(0, 36, 86, 0.04), 0 50.625px 34.875px rgba(0, 36, 86, 0.027),
      0 20px 13px rgba(0, 36, 86, 0.02), 4.375px 4.625px rgba(0, 36, 86, 0.013);

      .item-top {
        &__hover {
          opacity: 1;
          pointer-events: all;

          &:before {
            bottom: -32px;
          }
        }

        &__icon {
          width: 64px;
          height: 64px;
        }
      }
    }
  }

  &__hover {
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transition: max-height .5s, opacity .5s ease;
    padding: 0 24px;
    background: inherit;
    border-radius: inherit;
    margin-bottom: inherit;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      bottom: 0;
      transition: bottom .5s ease;
      background: inherit;
      border-radius: inherit;
      width: 100%;
      left: 0;
      z-index: -1;
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 17px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(32, 32, 32, 0.5);
    margin-bottom: 16px;
  }

  &__icon {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    transition: height .5s, width .5s ease;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: 4px;
    display: flex;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $color-text;
    opacity: 0.5;
  }

  &__price {
    font-size: 20px;
    line-height: 24px;
    color: $color-text;
    font-weight: bold;
  }

  &-bg {
    background: linear-gradient(0deg, rgba(0, 163, 255, 0.04), rgba(0, 163, 255, 0.04)), #FFFFFF;
    border-radius: 16px;
  }

  h3 {
    font-size: 16px;
    line-height: 19px;
    color: $color-text;
  }

  > div {
    text-align: center;

    &:not(.item-top__label):not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}

